*.o
*.so*
*.x
*.mod
*.aux
*.log
*.lof
*.pdf
*.dat
*.dylib
*.13
fort.*
/build/
/bin/
site/*
*.name
.DS_store
*__pycache__
*.pyc
*.dvi
*.lot
*.out
*.toc
*.dir
.vscode
autodoc
*.pro
process_dicts.py
process_dicts.json
VFILE.DAT
MFILE.DAT
OUT.DAT
tag.num
tests.x
*.xml
untracked.info
com.msg
*~
*.fdb_latexmk
*.fls
*.gz
ford_site/
lib/
process/io/python_fortran_dicts.json
*.egg-info
fortran.py
.coverage
dist/*
documentation/io/vardes.md
lcov_results/
env/
.venv
*.DAT
!scenario_examples/*/*.DAT
!tests/regression/input_files/*.IN.DAT
!tests/integration/data/*.IN.DAT
!scenario_examples/*/*.pdf
*/.ipynb_checkpoints/
REBCO_JC.DAT
*.whl
python_modules.txt
quench_data.DAT
env-fork
*SIG_TF.json
!tests/integration/data/large_tokamak_SIG_TF.json
*.html
!documentation/**/*.html
process/_version.py
*.ipynb
