*.o
*.so*
*.html
*.x
*.mod
*.exe
*.aux
*.log
*.lof
*.pdf
*.dat
*.dylib
*.13
fort.*
/test_suite/*.xunit
/test_suite/bindir.py
/test_suite/test_area/*
/test_suite/test_area/
/build/
/bin/
site/*
*.name
.DS_store
*__pycache__
*.pyc
*.dvi
*.lot
*.out
*.toc
*.dir
.vscode
autodoc
*.pro
process_dicts.py
process_dicts.py_prev
process_dicts.json
gui_dicts.py
gui_dicts.py_prev
rootdir.py
VFILE.DAT
MFILE.DAT
PLOT.DAT
OUT.DAT
OPT.DAT
SIG_TF.json
tag.num
tests.x
*.xml
untracked.info
com.msg
Katy_test/*
KatyTest/*
*~
/utilities/run_process.conf
*.fdb_latexmk
*.fls
*.gz
ford_site/
lib/ford
test_suite/test_files/*/new.OUT.DAT
test_suite/_divertor01.txt
test_suite/FZMIN_TEST.DAT
test_suite/REBCO_JC.DAT
test_suite/quench_data.DAT
test_suite/OPT.DAT
*.egg-info
fortran.py
.coverage
dist/*
process/io/python_fortran_dicts.json
documentation/proc-pages/vardes.md
lcov_results/
env/
.venv
!scenario_examples/*/*.DAT
!scenario_examples/*/*.pdf
*/.ipynb_checkpoints/
REBCO_JC.DAT
*.whl
python_modules.txt
quench_data.DAT
