---
site_name: PROCESS
docs_dir: documentation/source
nav:
  - Getting Started:
      - About: index.md
      - Installation:
          - Installation: installation/installation.md
          - Visual Studio Code: installation/vs-code.md
      - Usage:
          - Running PROCESS: usage/running-process.md
          - Examples:
              - Examples of running PROCESS: usage/examples.md
              - examples/*.ex.py
          - Troubleshooting: usage/troubleshooting.md
          - Plotting: usage/plotting.md
          - Tracking: tracking.html
      - I/O:
          - Input: io/input-guide.md
          - Output: io/output-guide.md
          - Python Libraries: io/python-lib-guide.md
          - Utilities: io/utilities.md
  - Development:
      - Git:
          - Usage: development/git-usage.md
          - Pre-commit: development/pre-commit.md
          - Continuous Integration: development/ci-guide.md
      - Maintenance:
          - Testing: development/testing.md
          - Debugging: development/debugging.md
      - Code modification:
          - Adding Variables & Constraints: development/add-vars.md
          - Python Optimisation and Numba: development/numba.md
      - Style:
          - Standards: development/standards.md
              # - Versioning: development/versioning.md
  - Models:
      - Physics Models:
          - Plasma:
              - Overview: physics-models/plasma_overview.md
              - Geometry: physics-models/plasma_geometry.md
              - Profiles:
                  - Overview: physics-models/profiles/plasma_profiles.md
                  - Density Profile: physics-models/profiles/plasma_density_profile.md
                  - Temperature Profile: physics-models/profiles/plasma_temperature_profile.md
                  - Profile Base Class: physics-models/profiles/plasma_profiles_abstract_class.md
              - Fusion Reactions:
                  - Overview: physics-models/fusion_reactions/plasma_reactions.md
                  - Beam reactions: physics-models/fusion_reactions/beam_reactions.md
                  - Bosch-Hale Methods: physics-models/fusion_reactions/plasma_bosch_hale.md
              - Beta Limit:
                  - Overview: physics-models/plasma_beta/plasma_beta.md
                  - Fast Alpha: physics-models/plasma_beta/plasma_alpha_beta_contribution.md
              - Density Limit: physics-models/plasma_density.md
              - Composition & Impurities: physics-models/plasma_composition.md
              - Radiation: physics-models/plasma_radiation.md
              - Plasma Current:
                  - Overview: physics-models/plasma_current/plasma_current.md
                  - Bootstrap Current: physics-models/plasma_current/bootstrap_current.md
                  - Diamagnetic Current: physics-models/plasma_current/diamagnetic_current.md
                  - Pfirsch-Schlüter Current: physics-models/plasma_current/pfirsch_schlüter_current_drive.md
                  - Inductive Current:
                      - Inductive Current: physics-models/plasma_current/inductive_plasma_current.md
                      - Plasma Inductance: physics-models/plasma_current/plasma_inductance.md
                      - Plasma Resistive Heating: physics-models/plasma_current/plasma_resistive_heating.md
              - Confinement time: physics-models/plasma_confinement.md
              - L-H transition: physics-models/plasma_h_mode.md
              - Plasma Core Power Balance: physics-models/plasma_power_balance.md
              - Detailed Plasma Physics: physics-models/detailed_physics.md
          - Pulsed Plant Operation: physics-models/pulsed-plant.md
      - Engineering Models:
          - Machine Build: eng-models/machine-build.md
          - Structural Components: eng-models/structural-components.md
          - Buildings: eng-models/buildings.md
          - First Wall/Blanket:
              - Overview: eng-models/fw-blanket.md
              - Blanket:
                  - Overview: eng-models/blanket_overview.md
                  - CCFE HCPB: eng-models/ccfe_hcpb.md

          - TF Coil:
              - Overview: eng-models/tf-coil.md
              - Resistive TF Coil: eng-models/tf-coil-resistive.md
              - Superconducting TF Coil: eng-models/tf-coil-superconducting.md
          - PF Coil: eng-models/pf-coil.md
          - Superconductors: eng-models/superconductors.md
          - Central Solenoid: eng-models/central-solenoid.md
          - Shield: eng-models/shield.md
          - Divertor: eng-models/divertor.md
          - Heat transport: eng-models/power-conversion-and-heat-dissipation-systems.md
          - Auxiliary Heating & Current Drive Systems:
              - Overview: eng-models/heating_and_current_drive/heating-and-current-drive.md
              - Radio Frequency:
                  - Overview: eng-models/heating_and_current_drive/RF/rf_overview.md
                  - Lower Hybrid:
                      - Overview: eng-models/heating_and_current_drive/RF/lhcd_overview.md
                      - Fenstermacher Model: eng-models/heating_and_current_drive/RF/fenstermacher_lower_hybrid.md
                      - Ehst Model: eng-models/heating_and_current_drive/RF/ehst_lower_hybrid.md
                      - Culham Model: eng-models/heating_and_current_drive/RF/culham_lower_hybrid.md
                  - Electron Cyclotron:
                      - Overview: eng-models/heating_and_current_drive/RF/ec_overview.md
                      - Fenstermacher Resonnance Model: eng-models/heating_and_current_drive/RF/fenstermacher_electron_cyclotron_resonance.md
                      - Culham Model: eng-models/heating_and_current_drive/RF/culham_electron_cyclotron.md
                      - User Input Gamma Model: eng-models/heating_and_current_drive/RF/ecrh_gamma.md
                      - Cutoff mode: eng-models/heating_and_current_drive/RF/cutoff_ecrh.md
                  - Ion Cyclotron:
                      - Overview: eng-models/heating_and_current_drive/RF/ic_overview.md
                      - Ion cyclotron model: eng-models/heating_and_current_drive/RF/ic_model.md
                  - Electron Bernstein Wave:
                      - Overview: eng-models/heating_and_current_drive/RF/ebw_overview.md
                      - EBW Model: eng-models/heating_and_current_drive/RF/ebw_freethy.md
              - Neutral Beam Injection:
                  - Overview: eng-models/heating_and_current_drive/NBI/nbi_overview.md
                  - ITER Model: eng-models/heating_and_current_drive/NBI/iter_nb.md
                  - Culham Model: eng-models/heating_and_current_drive/NBI/culham_nb.md
          - Cryostat and vacuum system: eng-models/cryostat-and-vacuum-system.md
          - Plant Availability: eng-models/plant-availability.md
          - Power Requirements: eng-models/power-requirements.md
          - Vacuum Vessel: eng-models/vacuum-vessel.md
      - Unique Models:
          - Water Use: unique-models/water_use.md
          - Power Plant Building Sizes: unique-models/buildings_sizes.md
          - Cost Models: cost-models/cost-models.md
      - Solver:
          - Solver Guide: solver/solver-guide.md
          - VMCON Optimisation Solver Explained: solver/optsolverdoc.md
          - Equation Solvers: solver/equation-solver.md
      - Fusion Devices:
          - Spherical Tokamak: fusion-devices/spherical-tokamak.md
          - Stellarator Model: fusion-devices/stellarator.md
          - Inertial Fusion Energy Model: fusion-devices/inertial.md
  - Publications: publications.md
  - Source Documentation: source/reference/

repo_url: https://github.com/UKAEA/PROCESS
repo_name: UKAEA/PROCESS

copyright: Copyright &copy; 2023 United Kingdom Atomic Energy Authority

theme:
  name: material
  font:
    text: Roboto
  features:
    - navigation.tabs
    - navigation.footer
    - navigation.top
      # - navigation.sections
    - search.suggest
    - search.highlight
    - navigation.instant
    - navigation.indexes
  palette:
    primary: indigo
    accent: indigo

  icon:
    repo: fontawesome/brands/git-alt
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML

markdown_extensions:
  - footnotes
  - admonition
  - codehilite
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - attr_list
  - pymdownx.emoji:
  - md_in_html

plugins:
  - autorefs
  - search
  - gen-files:
      scripts:
        - documentation/scripts/gen_api_ref.py
  - literate-nav:
      nav_file: overview.md
  - glightbox:
      touchNavigation: true
      effect: zoom
      zoomable: true
      auto_caption: true
      caption_position: bottom
  - literate-nav
  - git-revision-date-localized:
      enable_creation_date: true
  - mkdocs-jupyter:
      # execute: true
      ignore: [scripts/**/*.py]
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_if_no_docstring: true
            members_order: source
            filters:
              - '!^_' # Ignore private members starting with underscore
              - '!log'
