pre-commit>=2.16.0
pytest-cov>=3.0.0
pytest-xdist>=2.5.0
mkdocs>=1.1
mkdocs-material>=4.6.3
mkdocs-git-revision-date-localized-plugin >= 1.2
mkdocs-glightbox >= 0.3.4
pymdown-extensions>=6.3
bokeh==2.4.0
mkdocstrings==0.18.0
Jinja2>=3.0
