extend-exclude = ["env", ".env"]
target-version = "py310"

[lint]
extend-select = [
    "ARG",
    "ASYNC",
    "B",
    "BLE",
    "C4",
    "COM",
    "DTZ",
    "EXE",
    "F",
    "FA",
    "FLY",
    "FURB",
    "G",
    "I",
    "ICN",
    "INT",
    "ISC",
    "LOG",
    "NPY",
    "PD",
    "PERF",
    "PGH",
    "PIE",
    "PYI",
    "Q",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "SLF",
    "SLOT",
    "T10",
    "TID",
    "UP",
    "W",
    "YTT",
]

ignore = ["COM812", "FBT", "G004", "PD901"]

[lint.per-file-ignores]
"tests/*" = ["ARG"]

[format]
preview = true
