extend-exclude = ["env", ".env"]
target-version = "py310"
output-format= "concise"
line-length = 79

[lint]
extend-select = [
    "A",
    "ARG",
    "ASYNC",
    "B",
    "BLE",
    "C4",
    "COM",
    "DTZ",
    "EXE",
    "F",
    "FA",
    "FLY",
    "FURB",
    "G",
    "I",
    "ICN",
    "INT",
    "ISC",
    "LOG",
    "N",
    "NPY",
    "PD",
    "PERF",
    "PGH",
    "PIE",
    "PYI",
    "Q",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "SLF",
    "SLOT",
    "T10",
    "TID",
    "UP",
    "W",
    "YTT",
]

ignore = ["COM812", "FBT", "G004", "PD901"]

[lint.per-file-ignores]
"tests/*" = ["ARG"]

[lint.pep8-naming]
ignore-names = [
    "*PROCESS*",
    "*Bt*",
    "*Bp*",
    "*keV*",
    "*MPa*",
    "*H*",
    "*T*",
    "*D*",
    "*He*",
    "*Be*",
    "C",
    "N",
    "O",
    "Ne",
    "Si",
    "Ar",
    "Fe",
    "Ni",
    "Kr",
    "Xe",
    "W",
]


[format]
preview = true
