table {
    /* border-spacing: 10px; */
    border-collapse: collapse;
}

table.vardes {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

th {
    font-weight: bold;
}

th,
td {
    padding: 10px;
    border: 1px solid;
}
hr {
    border: 0;
    height: 0.1px; /* Adjust the height to change the thickness */
    background: rgba(128, 128, 128, 0.25); /* Adjust the color and transparency as needed */
}

html {
    font-size: 1.3rem;
}

.md-typeset h1 {
    font-weight: bold;
    color: var(--md-default-fg-color) !important;
}

.md-typeset h2 {
    font-weight: bold;
}

/* .md-nav__link--passed, .md-nav__link[for] {
    color: var(--md-default-fg-color);
} */

.md-nav__link[for] {
    color: var(--md-default-fg-color) !important;
}

.md-nav__title {
    color: var(--md-default-fg-color) !important;
}

.vardes tbody {
    display: table;
    width: 100%;
}

.vardes .col1 {
    width: 20%;
}

.vardes .col2 {
    width: 12%;
}

.vardes .col3 {
    width: 13%;
}

.vardes .col4 {
    width: 45%;
}

/*-------------------- IMAGES --------------------*/

.logo {
    width: 200px;
}

@media only screen and (max-width: 767px) {
    .logo {
        width: 35%;
    }
}

.image {
    width: 75%;
}

@media only screen and (max-width: 767px) {
    .image {
        width: 100%;
    }
}

/* Indentation. */
div.doc-contents:not(.first) {
    padding-left: 25px;
    border-left: 4px solid rgba(230, 230, 230);
    margin-bottom: 60px;
}

div.doc-class>.doc-heading {
    background-color: #e7f2fa;
    border-top: 3px solid #e0301c;
    padding: 10px;
}

div.doc-class>.doc-heading::before {
    content: "class";
    color: dimgray;
    font-style: italic;
    font-size: 1rem;
}

div.doc-method>h4::before {
    content: "method";
    color: dimgray;
    font-style: italic;
    font-size: 0.8rem;
}

div.doc-function>.doc-heading {
    background-color: #e7f2fa;
    border-top: 3px solid #e0301c;
    padding: 10px;
}

div.doc-function>.doc-heading::before {
    content: "function";
    color: dimgray;
    font-style: italic;
    font-size: 1rem;
}

div.doc-module>.doc-heading {
    background-color: #e7f2fa;
    border-top: 6px solid #e0301c;
    padding: 10px;
}

div.doc-module>.doc-heading::before {
    content: "module";
    color: dimgray;
    font-style: italic;
    font-size: 1.2rem;
}
