# PROCESS Variable Descriptions
---
## Introduction
Variables marked with an **\*** are private variables and cannot be accessed
outside of their Fortran module scope.

The PROCESS convention on inputs dictates that module variables which can be set from the
input file should be initialised in a routine called `init_mod` where `mod` is replaced with the
Fortran module name. However, some variables can also be initialised here too and will register as inputs
when they are not.

Output types signify that these module variables are set by models. This does necessarily mean an "output"
will appear in the MFile/Outfile.
---
{% for mod, module_vars in mods.items() %}
## {{ mod }}
<table class="vardes">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Datatype</th>
        <th>Default Value</th>
        <th>Description</th>
    </tr>
    {% for var in module_vars %}
    <tr>
        <td>{{ var.name }}{% if var.private %}*{% endif %}</td>
        <td>{{ var.typ }}</td>
        <td>{{ var.datatype }}</td>
        {% if var.initial is not none %}<td>{{ var.initial }}</td>{% else %}<td>-</td>{% endif %}
        <td>{{ var.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
